/*Cada navegador possui configurações específicas de estilo, 
então essa folha servirá para deixar todos os navegadores com valores padronizados, 
assim fazendo o jogo ter a mesma aparência em todos eles.*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
